.content {
  .pane.left {
    width: 30%;
  }
}

body {
  background-color:#f5f5f5;
  .container {
    .header-nav a.btn.account {
      padding: 8px 15px 11px 15px !important;
    }

    .books a:hover {
      text-decoration: none;
    }
  }

}
