@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body.browser {
  font-family: 'Lato', sans-serif !important;
  padding-top: 2em;

  .brand {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
  }

  table {
    width:100%;
    border:none;
  }
  .actions a{
    padding-left: 1em;
  }
  a.danger, .fa-danger {
    color:#f08a24;
  }
  a.success, .fa-success {
    color:#43ac6a
  }

  a.normal, a { 
    color:#0079a1;
  }

  .header {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 1em;
    a {
      font-family: 'Ubuntu', sans-serif;
    }
  }

  a,a:hover {
    font-weight:bold;
  }

  .sub-nav {
    img {
      height:1em;
      border-radius:90px;
    }
    dd.active {
      a, a:hover {
        background:none;
        color: #000;
      }
    }
  }
}
