body.browser {
  font-family: "open-sans",sans-serif;
  padding-top: 2em;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  .brand {
    font-size: 2em;
    font-family: "adage-script",sans-serif;
  }

  table {
    width:100%;
    border:none;
  }
  .actions a{
    padding-left: 1em;
  }
  a.danger, .fa-danger, .c-danger {
    color:#f08a24;
  }
  a.success, .fa-success, .c-success {
    color:#43ac6a
  }

  .error, .c-error {
    color: #990000;
  }

  a.normal, a { 
    color:#0079a1;
  }

  .header {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 1em;
  }

  a,a:hover {
    font-weight:bold;
  }

  .sub-nav {
    img {
      height:1em;
      border-radius:90px;
    }
    dd {
      a.active, a.active:hover {
        color:#43ac6a;
        text-decoration: underline;
      }

      a, a:hover {
        background:none;
        color: #000;
      }
    }
  }
}
