%script(type="text/ng-template" id="/books/index.html")
  %table(class="table table-striped table-bordered bootstrap-datatable datatable dataTable")
    %thead
      %tr(role="row")
        %th Book
        %th Description
        %th Actions
    %tbody
      %tr(ng-repeat="book in books" class="books")
        %td 
          %a(ng-href="#/books/{{book.id}}") {{book.name}}
        %td {{book.description}}
        %td
          %a(ng-href="#/books/{{book.id}}")
            %span(class="label label-success") View
          %a(ng-href="{{book.editor_url}}")
            %span(class="label label-success") Edit
          %a(ng-href="#")
            %span(class="label label-danger") Unfollow

%script(type="text/ng-template" id="/books/show.html")
  {{book.title}}
