%script(type="text/ng-template" id="/books/index.html")
  %table
    %thead
      %tr(role="row")
        %th Book
        %th Description
        %th Actions
    %tbody
      %tr(ng-repeat="book in books" class="books")
        %td 
          %a(ng-href="#/books/{{book.id}}") {{book.name}}
        %td {{book.description}}
        %td.actions
          %a.success(ng-href="{{book.editor_url}}")
            Edit
          %a.normal(ng-click="build(book.id)")
            Build
          %a.danger(ng-click="unfollow(book.id)")
            Unfollow

%script(type="text/ng-template" id="/books/show.html")
  {{book.title}}
