%script(type="text/ng-template" id="/builds/index.html")
  %table(class="table table-striped table-bordered bootstrap-datatable datatable dataTable")
    %thead
      %tr(role="row")
        %th #
        %th Status
        %th Revision
        %th Branch
        %th Author
        %th Started
    %tbody
      %tr(ng-repeat="build in builds" class="builds")
        %td
          %a(ng-href="#/build/{{build.id}}") {{build.id}}
        %td(ng-switch="build.status")
          %span(ng-switch-when="completed" class="label label-success")
            {{build.status}}
          %span(ng-switch-when="created" class="label label-warning")
            %i(class="icon-spinner icon-spin")
            {{build.status}}
          %span(ng-switch-when="building" class="label label-primary")
            %i(class="icon-spinner icon-spin")
            {{build.status}}
          %span(ng-switch-when="failed" class="label label-danger")
            {{build.status}}

        %td {{build.revision}}
        %td {{build.branch}}
        %td {{build.author}}
        %td {{build.started_at | fromNow}}

%script(type="text/ng-template" id="/builds/show.html")
  .row
    .col-lg-3.col-sm-6.col-xs-6.col-xxs-12
      .smallstat.box
        %i.icon-book.blue
        %span.title
          Pages
        %span.value
          200

    .col-lg-3.col-sm-6.col-xs-6.col-xxs-12
      .smallstat.box
        %i.icon-font.blue
        %span.title
          Words
        %span.value
          500

    .col-lg-3.col-sm-6.col-xs-6.col-xxs-12
      .smallstat.box
        %i.icon-plus-sign.green
        %span.title
          Additions
        %span.value
          {{build.additions}}

    .col-lg-3.col-sm-6.col-xs-6.col-xxs-12
      .smallstat.box
        %i.icon-minus-sign.red
        %span.title
          Deletions
        %span.value
          {{build.deletions}}

  .row
    .col-lg-6.col-sm-6.col-xs-12.col-xxs-12
      .smallstat.box
        %h1 Build
        %table
          %tr
            %td.bold-text
              Author:
            %td
              {{build.author}}
          %tr
            %td.bold-text
              Branch:
            %td
              {{build.branch}}
          %tr
            %td.bold-text
              Message:
            %td
              {{build.commit_message}}
          %tr
            %td.bold-text
              Completed:
            %td
              {{build.ended_at | fromNow}}
          %tr
            %td.bold-text
              SHA1:
            %td
              {{build.revision}}





    .col-lg-6.col-sm-6.col-xs-12.col-xxs-12
      .smallstat.box
        %h1 Books
        %ul
          %li(ng-repeat="(asset, url) in build.assets")
            %a(ng-href="{{url}}") {{asset}}

