%script(type="text/ng-template" id="/repos/index.html")
  .left.small-6.columns
    %a(ng-click="refreshReposFromGithub()" ng-hide="loading")
      Update
    %a.danger(ng-click="refreshReposFromGithub()" ng-show="loading")
      Updating
    %i(class="icon-spinner icon-spin")
  %br
  %br
  %table
    %thead
      %tr(role="row")
        %th Name
        %th Description
        %th Actions
    %tbody
      %tr(ng-repeat="repo in repos" class="repos")
        %td 
          %a(ng-href="#/repo/{{repo.id}}") {{repo.name}}
        %td {{repo.short_description}}
        %td
          %a(class="normal" ng-click="follow(repo.id)" ng-hide="repo.following")
            follow
          %a(class="danger" ng-click="unfollow(repo.book.id)" ng-show="repo.following")
            unfollow
  .row
    .left.small-6.columns
      %ul(class="pagination" ng-show="total_pages > 1")
        %li(ng-class="{unavailable:page <= 1}" class="arrow")
          %a(ng-click="getRepos(page-1)") &laquo;
        %li(ng-repeat="p in pageRange() track by $index" ng-class="{current:page == $index+1}")
          %a(ng-click="getRepos($index+1)")
            {{$index+1}}
        %li(ng-class="{unavailable:page >= total_pages}" class="arrow")
          %a(ng-click="getRepos(page+1)") &raquo;

%script(type="text/ng-template" id="/books/show.html")
  {{book.title}}
