.row.header
  .medium-6.columns
    %a.brand(href=root_path) Arturo.io
  .medium-6.columns
    %dl.sub-nav.right
      %dd
        %a(href="#/books") #Books
      %dd
        %a(href="#/builds") #Builds
      %dd
        %a(href="#/repos") #Repos
      %dd
        %a(href="#/user")
          = user.login
          = image_tag user.image_url
