	<header class="navbar">
		<div class="container">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
			</button>
			<a class="navbar-brand col-lg-2 col-sm-1 col-xs-12" href="index.html"><span>Arturo.io</span></a>
			<div class="nav-no-collapse header-nav" ng-controller="HeaderController">
				<ul class="nav navbar-nav pull-right">
          <li><a href="#/books" class="btn" ><i class="icon-book"></i> Books</a></li>
          <li><a href="#/builds" class="btn" ><i class="icon-cogs"></i> Builds</a></li>
          <li><a href="#/repos" class="btn" ><i class="icon-code-fork"></i> Repos</a></li>
				<li>
						<a class="btn account dropdown-toggle" data-toggle="dropdown" href="#" ng-cloak>
              <div class="avatar"><img ng-src="{{image_url}}" alt="Avatar"></div>
							<div class="user"><span class="name">{{login}}</span></div>
						</a>
					</li>
				</ul>
			</div>
		</div>	
	</header>

