<!DOCTYPE html>
<html data-ng-app='Browser'>
<head>
  <title>Writing.is</title>
  <%= stylesheet_link_tag    "editor" %>
  <%= javascript_include_tag "browser" %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">

<%= yield %>

</body>
</html>
